.table-cell-action {
  gap: 2px !important;
  .ant-space-item-split {
    .ant-divider-vertical {
      margin: 0 3px;
    }
  }
  .btn-cell-action {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover {
      background: rgba(1, 162, 166, 0.2);
    }
  }
}
