.course-page {
  display: flex;
  width: 100%;
  .course-content {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
  }

  .pagination-table {
    margin-top: 8px;
    text-align: right;
    padding: 0 8px;
  }
}

.add-edit-course-modal {
  .add-edit-course-content {
    .upload-course-item {
      .ant-input-group-addon {
        padding: 0;
      }
    }
  }
}
