/* Variables */
$header-height: 56px;
$footer-height: 70px;
$border-box-radius: 10px;
$common-page-height: calc(100vh - #{$header-height});

/* app colors */
$sider-bg-color: #343a40;
$modal-bg-color: #242e4c;
$font-red-color: #f44336;
$font-green-color: #00c853;
$primary-color: #FEAB00;
$text-color: #212529;
